header {
  div {
    div {
      div {
        .ctn-list-item {
          .subtitle-other{
            margin-left: 2rem;
          }
          .network-icon{
            margin: 1rem 2rem;
            a{
              img{
                width: 100%;
                
              }
              margin-left: 0.8rem;         
              &:nth-of-type(1){
                margin-left: 0;
              }
              &:hover{
                background: #5e5ecc;
                border-radius: 100%;
              }
            }
          }
          ul {
            li {
              padding: 0.5rem;

              &:hover {
                background: #e6e6e6;
              }

              a {
                color: #242425;
                padding-left: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {

  .aside-menu {
    div {
      aside:nth-of-type(1) {
        .ctn-list-item {
          .subtitle-other{
            margin-left: 2rem;
          }
          .network-icon{
            margin: 1rem 2rem;
            a{
              img{
                width: 30px;
              }
              margin-left: 0.8rem;         
              &:nth-of-type(1){
                margin-left: 0;
              }
              &:hover{
                background: #5e5ecc;
                border-radius: 100%;
              }
            }
          }
          ul {
            li {
              padding: 0.2rem;

              &:hover {
                background: #e6e6e6;
                text-decoration: underline;
                color: #5e5ecc !important;
              }

              a {
                color: #242425;
                padding-left: 1rem;
                &:hover{
                  color: #5e5ecc;
                }
              }
            }
          }
        }
      }
    }
  }
}